.form{
    background-color: #eee;
    margin-top: 50px;
    border-radius: 4%;
    padding-right: 20px;
}
.oops{
    max-height: 250px;
    min-width: 250px;
}
.msg{
    background-color: #eee;
    border-radius: 4%;
}